.ariane {
	align-self: flex-end;
	display: inline-block;
}

.ariane a {
	color: inherit;
}

.ariane-item::after {
	content				:"";
	width         : 10px;
	height        : 10px;
	display       : inline-block;
	margin				: 0 10px 0 0;
	border-top    : 2px solid;
	border-right  : 2px solid;
	transform			:	rotate(45deg);
}
