.ariane {
	align-self: flex-end;
}

.ariane a {
	color: inherit;
}

.ariane-explore {
	background-color: #03a9f4;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	margin: 0 0 0 20px;
	padding:10px;
}

.ariane-item::after {
	content				:"";
	width         : 10px;
	height        : 10px;
	display       : inline-block;
	margin				: 0 10px 0 0;
	border-top    : 2px solid white;
	border-right  : 2px solid white;
	transform			:	rotate(45deg);
}
