.brothers-navigation li {
	margin: 0 15px 0 15px;
}

.brothers-navigation a {
	color: inherit;
}

.brothers-left::before {
	content      : "";
	width        : 10px;
	height       : 10px;
	display      : inline-block;
	margin       : 0 0 0 10px;
	border-top   : 2px solid white;
	border-left  : 2px solid white;
	transform    : rotate(-45deg);
}

.brothers-right::after {
	content				:"";
	width         : 10px;
	height        : 10px;
	display       : inline-block;
	margin				: 0 10px 0 0;
	border-top    : 2px solid white;
	border-right  : 2px solid white;
	transform			:	rotate(45deg);
}
