:root {
	--titleColor: #0052CC;
	--fontFamily: opensans_regular;
}

@custom-selector --indexWrapper .index .wrapper;

.index {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background: #fff url('./img/bcg.jpg') no-repeat fixed 0 0 / 100% auto;
}

--indexWrapper {
	margin : 20px 0 0 20px;
}

--indexWrapper .title {
	width : 350px;
	margin: 0 0 45px 0
}

--indexWrapper .title .logo {
	background: #fff url('./img/logo.jpeg') no-repeat scroll center center /
		contain content-box padding-box;
	height: 150px;
}

--indexWrapper .title .logo > span {
	display  : block;
	height   : 0px;
	overflow : hidden;
} 

--indexWrapper nav {
	width: 650px;
}

.content-item {
	padding: 0 0 0 50px;
}

.atlas {
	background: url("./img/indexMenu/atlas.svg") no-repeat 10px center;
}
